body
{
    background-color: #B0A090;
}

.corps_de_texte
{
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
    background-color: white;
}

.logo
{
    position: fixed;
    top: 0;
    margin-left: 9.3%;
    -webkit-animation: opacity 2s linear;

}

nav
{
    top: 0;
	position: fixed;
	text-align: center;
    margin-left: 10px;
    width: 59%;
}

nav a
{
    box-shadow: 3px 3px 2px #1c1a19;
    background-color: #3A3733;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px;
    padding-bottom: 5px;
    padding-top: 15px;
    font-size: 2.0em;
    text-decoration: none;
    color: white;
    position: relative;
    top: -10px;
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

nav a:hover
{
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

nav a:visited
{
    color: white;
    display: none;
}

header
{
	margin-top: 60px;
}

.banniere
{
	height: 140px;
	background: url('banniere.jpg');
    color: white;
}

.section,.article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

.section
{
    width: 42%;
    margin-left: 10px;
    position: relative;
}

article
{
    margin-top: 10px;
}

aside
{
    margin-left: 10px;
	margin-top: 10px;
    width: 24%;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

.article
{
    margin-top: 10px;
    margin-left: 10px;
    width: 98%;
}

@-webkit-keyframes opacity { 
  50% { opacity: 0; }
}
